.section-box h2 { 
	margin-top:0px;
}
body {
	margin-top:20px;
  	padding-top: 50px;
}
.well-sm {
    padding: 0px;
}

.list h2 {
    margin-top: 20px;
}


.detail img{
    margin-top: 20px;
}

.list img {
    max-height:80px;
}


  
